In [4]:
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('./성별,연령별데이터.csv', encoding = 'euckr')
df

        축제명     연령대  남성비율  여성비율
0    강경젓갈축제  70세 이상   5.4   4.7
1    강경젓갈축제  60~69세  12.6  11.3
2    강경젓갈축제  50~59세  12.5  12.3
3    강경젓갈축제  40~49세   8.4   7.3
4    강경젓갈축제  30~39세   5.6   4.9
..      ...     ...   ...   ...
683  횡성한우축제  40~49세   9.6   7.7
684  횡성한우축제  30~39세   7.0   6.6
685  횡성한우축제  20~29세   6.1   6.1
686  횡성한우축제  10~19세   3.3   3.2
687  횡성한우축제    0~9세   0.6   0.6

[688 rows x 4 columns]